{
  "presets": ["env", "stage-0", "react", "react-app"],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
