body {
  font-size: 14px;
  background: #fff;
}

:global {
  .nav {
    li {
      display: inline-block;
      list-style: none;
      margin-right: 10px;

      > a {
        &.selected {
          color: #ff0000;
        }
      }
    }
  }
}
